{% extends 'base.html.twig' %}

{% block title %}Author index{% endblock %}

{% block body %}
    <h1>Author index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for author in authors %}
            <tr>
                <td>{{ author.id }}</td>
                <td>{{ author.name }}</td>
                <td>
                    <a class="btn btn-success" role="button" href="{{ path('author_show', {'id': author.id}) }}">show</a>
                    <a class="btn btn-primary" role="button" href="{{ path('author_edit', {'id': author.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" role="button" href="{{ path('author_new') }}">Create</a>
    <a class="btn btn-warning" role="button" href="{{ path('author_new_random') }}">Create random</a>
    <a class="btn btn-secondary" role="button" href="{{ path('index') }}">Back</a>
{% endblock %}
