{% extends 'base.html.twig' %}

{% block title %}Book index{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/books-list.css">
{% endblock %}

{% block body %}
    <h1>Book index</h1>

    <div class="table" id="books">
        <div class="tr table-head">
            <div class="th">#</div>
            <div class="th">Title</div>
            <div class="th">Description</div>
            <div class="th">Year</div>
            <div class="th">Cover image</div>
            <div class="th">Actions</div>
        </div>
        <form class="tr table-head" method="GET">
            <div class="th"></div>
            <div class="th">
                <input name="title" type="text" class="form-control" value="{{ filters.title }}" placeholder="filter name..">
            </div>
            <div class="th">
                <input name="description" type="text" class="form-control" value="{{ filters.description }}" placeholder="filter desc..">
            </div>
            <div class="th">
                <input name="year" type="number" class="form-control" value="{{ filters.year }}" placeholder="filter year..">
            </div>
            <div class="th"></div>
            <div class="th">
                <input class="btn btn-sm btn-primary" type="submit" value="Filter" />
            </div>
        </form>
        {% for book in books %}
            <form class="tr" action="/book/{{ book.id }}/edit" method="POST" enctype="multipart/form-data">
                <div class="td">{{ book.id }}</div>
                <div class="td">
                    <input id="title-{{book.id}}" name="book[title]" type="text" class="form-control" value="{{ book.title }}" required="required">
                    <label for="title-{{ book.id }}">{{ book.title }}</label>
                </div>
                <div class="td">
                    <textarea id="description-{{book.id}}" name="book[description]" type="text" class="form-control" required="required">{{ book.description }}</textarea>
                    <label for="description-{{ book.id }}">{{ book.description }}</label>
                </div>
                <div class="td">
                    <input id="year-{{book.id}}" type="number" name="book[year]" class="form-control" value="{{ book.year }}" required="required">
                    <label for="year-{{ book.id }}">{{ book.year }}</label>
                </div>
                <div class="td">
                    <input id="cover-{{book.id}}" type="file" name="book[cover]" class="form-control">
                    <label for="cover-{{ book.id }}">
                        <img height="200px" src="{{ asset('uploads/covers/' ~ book.cover) }}" />
                    </label>
                </div>
                <div class="td">
                    <a class="btn btn-sm btn-success" role="button" href="{{ path('book_show', {'id': book.id}) }}">View</a>
                    <a class="btn btn-sm btn-primary" role="button" href="{{ path('book_edit', {'id': book.id}) }}">Edit</a>
                </div>
                <input type="hidden" name="book[_token]" value="{{ csrf_token('book') }}">
            </form>
        {% else %}
            <div class="tr">
                <div class="td">no records found</div>
            </div>
        {% endfor %}
    </div>

    <a class="btn btn-primary" role="button" href="{{ path('book_new') }}">Create new</a>
    <a class="btn btn-warning" role="button" href="{{ path('book_new_random') }}">Create random</a>
    <a class="btn btn-secondary" role="button" href="{{ path('index') }}">Back</a>
    <a class="btn btn-link" role="button" href="{{ path('book_more_than_two_authors') }}">Get where more 2 authors</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="/js/inline-table.js" defer="defer"></script>
{% endblock %}
