{% extends 'base.html.twig' %}

{% block title %}Book{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/form-edit.css">
{% endblock %}


{% block body %}
    <h1>Book</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ book.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ book.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ book.description }}</td>
            </tr>
            <tr>
                <th>Year</th>
                <td>{{ book.year }}</td>
            </tr>
            <tr>
                <th>Cover</th>
                <td><img height="400px" src="{{ asset('uploads/covers/' ~ book.cover) }}" /></td>
            </tr>
            <tr>
                <th>Authors</th>
                <td>
                    <ul>
                        {% for author in book.authors %}
                            <li> {{ author.name }} </li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-secondary" role="button" href="{{ path('book_index') }}">Back</a>
    <a class="btn btn-primary" role="button" href="{{ path('book_edit', {'id': book.id}) }}">Edit</a>
    {{ include('book/_delete_form.html.twig') }}
{% endblock %}
